%p
  With the
  %code ASIN::Client#*_cart
  methods, you get a convenient layer to access your virtual shopping cart:

~ highlight('app/examples/cart_example.rb')

%p
  This query of the method
  %code= link_to 'CartExample#checkout_url', 'https://github.com/phoet/asin_web/blob/master/app/examples/cart_example.rb'
  results in a checkout deeplink to the Amazon page:
  = link_to "Purchase Me", @checkout_url, class: 'button'
