%p
  The most common way of configuring ASIN is via a Rails initializer like this
  %code= link_to 'asin.rb', 'https://github.com/phoet/asin_web/blob/master/config/initializers/asin.rb'
  file:

~ highlight('config/initializers/asin.rb')

%p
  I am used to read the config-vars from the
  %code ENV
  because it's the best way to configure stuff on
  = link_to 'Heroku.', 'http://heroku.com'
