%p
  Installing ASIN for Rails 3.x is easy. Just put it into your 
  %code Gemfile:
  
~ highlight('Gemfile')
  
%p
  ASIN has a modular setup and is built on top of the HTTP adapter library
  = link_to 'HTTPI.', 'http://github.com/rubiii/httpi'
  Since
  = link_to 'HTTPClient', 'https://github.com/nahi/httpclient'
  is my favourite HTTP library, i put this into the 
  %code Gemfile
  too.
