%p
  The
  %code ASIN::Client#lookup
  method is the simplest form of accessing the Amazon API:

~ highlight('app/examples/lookup_example.rb')

%p
  The result of this query executed in
  %code= link_to 'LookupExample#lookup_item_title', 'https://github.com/phoet/asin_web/blob/master/app/examples/lookup_example.rb'
  is:
  %cite= @lookup_title
