%p
  The
  %code ASIN::Client#lookup
  method is the simplest form of accessing the Amazon API:

~ highlight('app/examples/lookup_example.rb')

%p
  The result of this query executed in
  %code LookupExample#lookup_item_title
  is:
  = cite @lookup_title
