%p
  If you are interested in accessing Amazon browse nodes, you should have a look at the
  %code ASIN::Client#browse_node
  method:

~ highlight('lib/node_example.rb')

%p
  In this case, the name of the node from the
  %code NodeExample#node_name
  method is:
  = cite @node_name