%p
  If you are interested in accessing Amazon browse nodes, you should have a look at the
  %code ASIN::Client#browse_node
  method:

~ highlight('app/examples/node_example.rb')

%p
  In this case, the name of the node from the
  %code= link_to 'NodeExample#node_name', 'https://github.com/phoet/asin_web/blob/master/app/examples/node_example.rb'
  method is:
  %cite= @node_name
