%p
  The
  %code ASIN::Client#search_keywords
  methods excepts one or more keywords to search against the Amazon book index:

~ highlight('app/examples/search_example.rb')

%p
  Calling
  %code SearchExample#search_ruby_titles
  results in a list of Ruby and Ruby on Rails titles:
  %cite= @search_titles.map { |word| word.truncate(30) }.to_sentence
