html {
  background:image-url('bg.png') left top repeat;
  font-family: arial;
}

body {
  background:none;
  font-size:1em;
  margin:0;
}

#content {
  margin:auto;
  width:80%;
}

header {
  text-align:center;
  margin:0;
}

p {
  code {
    background-color:lightyellow;
    font-style:italic;
    padding:0.25em;
    color:darkgray;
  }
}

a:visited {
  color:lightgray;
}
a:hover {
  color:gray;
}

footer {
  padding:1em;
  margin-top:2em;
  background:white;
  border-top:1px solid silver;
  border-left:1px solid silver;
  border-right:1px solid silver;
  text-align:center;
  font-family:'Holtwood One SC', serif;
  font-size:1em;

  a {
    padding-left:25px;
    background:url('https://secure.gravatar.com/avatar/056c32203f8017f075ac060069823b66?s=20') 0px 3px no-repeat;
  }
}

section {
  padding:1em;
  margin-top:2em;
  background:white;
  border:1px solid silver;
}

nav {
  margin:0;
  text-align:center;
  ul {
    border:0 none;
    display:inline-block;
    list-style:none outside;
    overflow:hidden;
  }
  li {
    margin-right:1.5em;
    margin-top:1em;
    padding:0.5em;
    float:left;
    background:white;
    border:1px solid silver;

    a, a:hover, a:active, a:visited {
      text-decoration:none;
      color:silver;
      font-size:1em;
      font-family:'Holtwood One SC', serif;
    }
    a:hover {
      color:gray;
    }
  }
}

h1, h2, h3 {
  font-family:'Holtwood One SC', serif;
  font-size:5em;
  color:gray;
  margin:0;
  padding:0;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.5em;
}

pre {
  padding:0.5em;
}

cite {
  color:gray;
  font-style:italic;
  padding:0.25em;
  font-size:smaller;
}

.button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  font-size:15px;
  height:30;
  line-height:30px;
  width:100px;
  text-decoration:none;
  text-align:center;
  font-family:helvetica;
  color:gray;
}
.button:hover {
  background-color:#dfdfdf;
}
.button:active {
  position:relative;
  top:1px;
}
