// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "compass/css3/border-radius";

html {
  background:url('/assets/bg.png') left top repeat;
}

body {
  background:none;
  font-size:1em;
}

#content {
  margin:auto;
  width:80%;
}

header {
  text-align:center;
  margin-bottom:2em;
}

footer {
  padding:1em;
  margin-top:2em;
  background:white;
  @include border-top-left-radius(0.5em);
  @include border-top-right-radius(0.5em);
  border-top:1px solid silver;
  border-left:1px solid silver;
  border-right:1px solid silver;
  text-align:center;
  font-family:'Holtwood One SC', serif;
  font-size:1em;
  
  a {
    padding-left:25px;
    background:url('https://secure.gravatar.com/avatar/056c32203f8017f075ac060069823b66?s=20') 0px 3px no-repeat;
  }
}

section {
  padding:1em;
  margin-bottom:2em;
  background:white;
  @include border-radius(0.5em, 0.5em);
  border:1px solid silver;
}

nav {
  margin-bottom:2em;
  text-align:center;
  ul {
    border:0 none;
    display:inline-block;
    list-style:none outside;
    overflow:hidden;
  }
  li {
    margin-right:1.5em;
    margin-top:2em;
    padding:0.5em;
    float:left;
    background:white;
    border:1px solid silver;
    @include border-radius(0.2em, 0.2em);
    
    a, a:hover, a:active, a:visited {
      text-decoration:none;
      color:silver;
      font-size:1em;
      font-family:'Holtwood One SC', serif;
    }
  }
}

h1, h2, h3 {
  font-family:'Holtwood One SC', serif;
  font-size:5em;
  margin-bottom:20px;
  color:gray;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.5em;
}

code {
  color:gray;
  background-color: #FFFFCC;
  @include border-radius(3px, 3px);
  border:1px solid rgba(0, 0, 0, 0.15);
}

cite {
  color:gray;
  font-style:italic;
}